<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>

  <div class="field span12">
    <%= f.label :body %><br />
    <%= f.cktext_area :body, :class => 'span8', :ckeditor => {:uiColor => "#C6C6C6", :toolbar => "mini"} %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>


  <%= f.file_field :photo %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

