<div class="post first last">
	<div class="post-content">
		<div class="post-title">
			<h2>
				<%= @post.title %>
			</h2>
		</div>
		<div class="createdate">
		  <strong>Posted:</strong> <%= @post.created_at.strftime("%d %b %y")  %>
		</div>
		<div class="post-description">
			<%= raw @post.body %>
		</div>
		<div class="tags">
	      Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
	    </div>
	</div>
</div>

<%= render 'shared/discuss' %>