<!DOCTYPE html>
<html>
<head>
  <title>Alfred Nutile::Developer[JavaScript, jQuery, Rails, PHP, Angular, Drupal] | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
</head>
<body>
  <%= render 'shared/topnav' %>
    <div  class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
    </div>
  
    <div id="footer">
      <div class="container">
        <div class="row-fluid">
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>
    <div id="under-footer">
        
        <!-- start: Container -->
        <div class="container">
          
          <!-- start: Row -->
          <div class="row-fluid">

            <!-- start: Under Footer Logo -->
            <div class="span2">
              <div id="under-footer-logo">
                <a class="brand" href="#">tabula</a>
              </div>
            </div>
            <!-- end: Under Footer Logo -->

            <!-- start: Under Footer Copyright -->
            <div class="span9">
              
              <div id="under-footer-copyright">
                © 2012, <a href="http://clabs.co">creativeLabs</a>. Designed by <a href="http://clabs.co">creativeLabs</a> in Poland 
                <%= image_tag("poland.png", alt: "Poland") %>

              </div>
              
            </div>
            <!-- end: Under Footer Copyright -->

            <!-- start: Under Footer Back To Top -->
            <div class="span1">
                
              <div id="under-footer-back-to-top">
                <a href="#"></a>
              </div>
            
            </div>
            <!-- end: Under Footer Back To Top -->
          
          </div>
          <!-- end: Row -->
          
        </div>  
        <!-- end: Container  -->
        
      </div>

  <%= javascript_include_tag "application" %>
   <script>
      var _gaq=[['_setAccount','UA-39925227-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
